<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- 左侧栏目 -->
        <div class="col-md-4 col-xl-3">

            <div class="row">
                <div class="col-md-12">
                    <span>
                      <a href="" title="wxmgcs" >
                        <img src="../images/patrick2.jpg" class="blog-avatar-230"
                             alt="wxmgcs">
                      </a>
                    </span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-text">老王</h2>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <h4 class="card-text">Patrick</h4>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-md-12">
                    <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:wxmgcs@gmail.com">wxmgcs@gmail.com</a></h5>
                </div>
            </div>

	      <!-- 分类 -->
	        <div class="card my-4">
	            <h5 class="card-header"><i class="fa fa-bars" aria-hidden="true"></i> 专题</h5>
	
	            <ul class="list-group">
	                <a href="/blogs?keyword=jvm" class="list-group-item" title="JVM">
	                    JVM
	                </a>
	                <a href="/blogs?keyword=springboot" class="list-group-item" title="SpringBoot">
	                    	SpringBoot
	                </a>
	                <a href="/blogs?keyword=springmvc" class="list-group-item" title="SpringMVC">
                        SpringMVC
	                </a>
	                <a href="/blogs?keyword=springcloud" class="list-group-item" title="SpringCloud">
                        SpringCloud
	                </a>
                    <a href="/blogs?keyword=android" class="list-group-item" title="Android">
                        Android
                    </a>
                    <a href="/blogs?keyword=ios" class="list-group-item" title="IOS">
                        IOS
                    </a>
	            </ul>
	        </div>
        </div>
        
   

        <!-- 右侧栏目 -->


        <div class="col-md-8 col-xl-9">
            <!-- 工具栏 -->
 
            <ul class="nav nav-tabs mr-auto">
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="搜索">
                    <a href="/blogs?keyword=ww" class="btn btn-outline-secondary my-2 my-sm-0"><i class="fa fa-search"
                                                                                             aria-hidden="true"></i></a>
                </form>
            </ul>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
 
                        <a href="/blogs/1" class="card-link" title="wxmgcs">
                            Android
                        </a></h2>
                    <p class="card-text">整理android的开发经验</p>
                    <div class="card-text">
                        	发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">210</i>
                        <i class="fa fa-heart-o" aria-hidden="true">10</i>
                        <i class="fa fa-comment-o" ria-hidden="true">110</i>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>